body {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 93, 93)
  }

  article {
    color: rgb(255, 255, 0);
    background-color: rgb(0, 0, 0);
  } 

 #titulo_del_blog {
   color: rgb(148, 0, 0);
 }

 #color1 {
  color: green;
  background-color: rgb(0, 0, 0);
 }

 #color2 {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
 }

 #color3 {
  color: blue;
  background-color: rgb(0, 0, 0);
  
 }

li {
  color: rgb(0, 225, 255);;
}

strong {
  
  color: black;
}

#color4 {
  color: darkblue;
  background-color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

article {
  border-width: 1px;
  border-color: white;
  border-style: solid;
}

article {
  padding: 1.5rem;
}

ul {
  color: white;
  list-style: none;
}

#footer_blog {
  margin: 2rem;
}

.ilustracion {
  border: 4px;
  border-style: solid;
  border-color: white;
}