body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
   
  }
  
 article {
    color: rgb(255, 255, 255);
    background-color: rgb(44, 43, 43);
    
 }

 nav>ul>li {

   color: yellow;
 }

 #titulo_del_blog {
   color: red;
 }