body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
   
  }
  
 article {
    color: rgb(255, 255, 255);
    background-color: rgb(142, 138, 138);
    
 }

 nav>ul>li {

   color: yellow;
 }

 #titulo_del_blog {
   color: red;
 }